/* Style the table with spacing, border, and border-radius */
table {
  border-collapse: separate; /* Allows for border spacing and rounded corners */
  border-spacing: 10px 15px; /* Sets horizontal and vertical spacing between cells */
  border: 2px solid black; /* Applies a black border around the table */
  border-radius: 10px; /* Rounds the corners of the table */
  width: 100%; /* Makes the table take the full width of its container */
  margin-top: 10px; /* Adds space above the table */
  overflow: hidden; /* Hides any content that overflows the table's border */
}

/* Style table headers and cells with padding and text alignment */
th, td {
  padding: 10px; /* Adds padding inside table cells */
  text-align: center; /* Center-aligns text within table cells */
}

/* Style the table headers */
th {
  background-color: #fbae3c; /* Sets a background color for table headers */
  color: white; /* Sets the text color for table headers to white */
}

/* Style for team header rows */
.team-header {
  background-color: #d3d3d3; /* Sets a light gray background for team header rows */
  font-weight: bold; /* Makes the text in team headers bold */
  text-align: left; /* Aligns text in team headers to the left */
  font-size: xx-large; /* Increases the font size for team headers */
  padding: 15px; /* Adds padding inside team header cells */
}

/* Flexbox container for centering content */
.tourn-container {
  display: flex; /* Enables Flexbox layout */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
}
