/* Add spacing between the table rows and columns */
table {
    border-collapse: collapse; /* Ensure border spacing is applied */
    border-spacing: 10px 15px; /* Horizontal and vertical spacing */
    width: 100%;
    margin-top: 10px;
  }
  
  th, td {
    padding: 10px; /* Padding inside the cells */
    text-align: center; /* Center-align text */
  }
  
  th {
    background-color: #4CAF50; /* Background color for headers */
    color: white; /* Text color for headers */
  }
  
  .team-header {
    background-color: #d3d3d3; /* Background color for team header */
    font-weight: bold; /* Bold text for team header */
    text-align: left; /* Center-align team header */
    font-size: xx-large; /* Font size team header */
    padding: 15px; /* Padding for team header */
    border: 1px solid #ddd; /* Border for team header */
  }
  
  /* INPUT STYLING */
  input {
    width: 50px;
    text-align: center;
    padding: 4px;
    border: 1px solid black;
    border-radius: 8px;
  }
  
  .container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }